name: python-deployment
run-name: ${{ github.actor }} - ${{ github.ref_name }}

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:
  python-ci:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
